body {
    background-color: #FFFDE0;
    margin: 0;
    text-align: center;
}

.header{
    font-size: 80px;
    font-family: Arial Black;
    padding: 30px 30px;
    font-weight: bold;
}

nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px 2px;             /* Adds space around the text */
    border-radius: 5px;            /* Optional: round edges */
    transition: all 0.3s ease;     /* Smooth hover effect */
    display: inline-block;         /* Needed so padding & background work correctly */
}

nav a:hover {
    color: #ff8c19;
    background-color: white;
    cursor: pointer;
}

.header-background{
    background-color: #ffba30;
    color: white;
    padding-bottom: 8px;
}


footer {
    font-size: 15px;
    color: #ffba30;
    padding: 10px;
}

.circle-photo{
    border-radius: 50%;
    width: 500px;
    height: 450px;
    object-fit: cover;
    object-position: bottom;
}

main {
    color: #ffba30;
}

.custom-btn {
    background-color: #ffba30;
    color: white;
}

.custom-btn:hover {
    background-color: #ff8c19;
    color: #fdf6c5;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
}


.video-iframe {
      width: 100%;
      height: 210px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }


    iframe {
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 100%;
      max-width: 1000px;
    }

    .resource-header {
      max-width: 900px;
      margin: 0 auto;
    }
